body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

/* Header CSS */

.header {
  background-color: #1657d0;
  color: white;
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.logo-wrapper {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 30pt;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.sidebar-drawer {
  display: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li {
  cursor: pointer !important;
}

/* Hero Section CSS */

.hero-container {
  background-color: #1657d0;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 30px;
}

.hero-inner {
  display: flex;
  flex-direction: column;
  gap: 15pt;
  justify-content: center;
  align-items: center;
}

.language-switcher {
  width: 40%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c56b9;
}

.language-option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5pt;
  padding: 6pt 14pt;
}

.language-text {
  color: white;
}

.language-icon-small {
  height: 5pt;
}

.language-icon-large {
  height: 10pt;
}

.search-wrapper {
  width: 40%;
}

.ad-container {
  width: 40%;
  object-fit: contain;
}

.ad-image {
  width: 100%;
  height: 100%;
}

.search-container {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
  flex: 1;
  padding: 6pt 14pt;
  font-size: 16px;
  border: none;
  outline: none;
}

.search-button {
  padding: 6pt 14pt;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.search-button:hover {
  background-color: #e6e6e6;
}

.search-icon {
  font-size: 18px;
}

/* Word Section CSS */

.ws-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.ws-div1 {
  box-sizing: border-box;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10pt;
  padding: 30px 40px;
}

.ws-div2 {
  box-sizing: border-box;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10pt;
  padding-top: 30px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 30px;
}

.text-left-eng-heading {
  width: 100%;
  text-align: left;
  color: #1657d0;
  font-weight: bold;
  font-size: 20px;
}

.text-left-eng-heading-inner {
  width: 30%;
  text-align: left;
  color: #1657d0;
}

.text-left-eng {
  width: 100%;
  text-align: left;
}

.text-left-eng-inner {
  width: 30%;
  text-align: left;
}

.text-right-urdu {
  width: 100%;
  direction: rtl;
  text-align: right;
}

.text-right-urdu-inner {
  width: 30%;
  direction: rtl;
  text-align: right;
}

.download-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.download-header {
  width: 100%;
  text-align: center;
  background-color: #1657d0;
  color: white;
  font-weight: bold;
}

.download-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10pt;
}

.automate-text {
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.cta-button {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 14px;
  background-color: #f8b318;
  color: black;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.other-words-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.other-words-header {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.other-words-section {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.other-word {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
}

.common-words-wrapper {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12pt;
  padding-top: 30px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 30px;
}

.cw-header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cw-heading {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.cw-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cw-section {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.cw-content-wrapper {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10pt;
  padding: 10px;
  border-bottom: 3px solid #1657d0;
}

.cwc-cross {
  width: 100%;
  text-align: right;
}

.cwc-eng {
  margin-left: 20px;
  width: 100%;
  text-align: left;
}

.cwc-urdu {
  width: 100%;
  margin-right: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  direction: rtl;
  text-align: right;
}

/* Footer CSS */

.footer {
  box-sizing: border-box;
  width: 100%;
  background: #1657d0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 40px;
  gap: 10pt;
}

.footer-div-1 {
  margin-left: 50pt;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15pt;
}

.footer-logo {
  width: 100%;
  text-align: left;
}

.footer-copyright {
  width: 100%;
  text-align: left;
  font-weight: bold;
  color: white;
}

.footer-icons-social {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10pt;
}

.footer-div-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  gap: 10pt;
  flex-direction: column;
}

.footer-word {
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.footer-div-3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  gap: 10pt;
  flex-direction: column;
}

.footer-download-icons {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10pt;
}

/* Go to top button CSS */

.go-to-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #1c56b9;
  cursor: pointer;
  filter: drop-shadow(0px 0px 4px #1c56b9);
  z-index: 1000;
  transition: background-color 0.3s ease;
}

/* Media Query for Mobile View */

@media (max-width: 768px) {

  /* Header CSS (Mobile View) */
  .hamburger {
    display: block;
  }

  .logo-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    height: 25pt;
  }

  .header {
    padding: 1rem 2rem;
  }

  .nav-links {
    display: none;
  }

  .sidebar-drawer {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    background: #1657d0;
    /* semi-transparent */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    transition: left 0.7s ease-in-out;
    z-index: 9999;
    display: flex;
    flex-direction: column;
  }

  .sidebar-drawer.open {
    left: 0;
  }

  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }

  .close-btn {
    font-size: 2rem;
    cursor: pointer;
  }

  .sidebar-links {
    box-sizing: border-box;
    padding: 10pt;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10pt;
  }

  .sidebar-links div {
    background: rgba(255, 255, 255, 0.15);
    /* not full white */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 14px;
    cursor: pointer;
  }

  /* Hero Section CSS (Mobile View) */

  .search-wrapper {
    width: 100%;
  }

  .language-switcher {
    width: 100%;
  }

  .ad-container {
    width: 100%;
  }

  /* Word Section CSS (Mobile View) */

  .ws-wrapper {
    flex-direction: column;
    align-items: center !important;
  }

  .ws-div1 {
    width: auto;
  }

  .ws-div2 {
    width: 100%;
    padding-top: 0px;
  }

  .text-left-eng-heading-inner {
    width: auto;
  }

  .text-left-eng-inner {
    width: auto;
  }

  .text-right-urdu-inner {
    width: auto;
  }

  .common-words-wrapper {
    padding-top: 0px;
  }

  .cw-section {
    flex-direction: column;
  }

  /* Footer CSS (Mobile View) */

  .footer {
    flex-direction: column;
    justify-content: center;
  }

  .footer-div-1 {
    margin-left: 0px;
  }

  .footer-logo {
    text-align: center;
  }

  .footer-copyright {
    text-align: center;
  }

  .footer-icons-social {
    justify-content: center;
  }

  .footer-word {
    text-align: center;
  }

  .footer-download-icons {
    justify-content: center;
    align-items: center;
    gap: 10pt;
  }
}

/* Media Query Tablet View */

@media (min-width: 768px) and (max-width: 1200px) {

  /* Word Section CSS (Tablet View) */
  .ws-div1 {
    width: 50%;
  }

  .ws-div2 {
    width: 50%;
  }
}